{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Certificates{% endblock title %}
{% block small-title %}Upload a key container{% endblock small-title %}
{% block html-head %}
    <script src="{% static 'certificates/fileinput.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'certificates/fileinput.min.css' %}">
    <link href="{% static 'certificates/certificates.css' %}" rel="stylesheet">

{% endblock html-head %}
{% block content %}
    {% include "certificates/widgets/AddCert.html" %}
{% endblock content %}