{% extends "connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row">
        <div class="col-xs-12">
            <p>Choose your certificate which authenticates you. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <p>Choose the ca certificate which authenticates the server.</p>
        </div>
    </div>
    {% include "connections/forms/CaPicker.html" with form=form %}
    <hr>
{% endblock form_content %}