<div class="row">
    <label class="control-label col-sm-3 col-xs-12">Username</label>
    <div class="controls col-sm-8 col-xs-10">
        <input type="text" class="form-control" name="username" value="{{ username.value }}"
               placeholder="Your username"/>
        {% include "connections/forms/../widgets/errormsg.html" with field=username %}
    </div>
    <div class="col-sm-1 col-xs-2">
        {% include "connections/widgets/QuestionPopover.html" with title="Username help" content="Enter the username that authenticates you." %}
    </div>
    <label class="control-label col-sm-3 col-xs-12">Password</label>
    <div class="controls col-sm-8 col-xs-10">
        <input type="password" class="form-control" name="password" value="{{ password.value }}"
               placeholder="Your password"/>
        {% include "connections/forms/../widgets/errormsg.html" with field=password %}
    </div>
    <div class="col-sm-1 col-xs-2">
        {% include "connections/widgets/QuestionPopover.html" with title="Password help" content="Enter the corresponding password. Use a safe and strong password. The same secret has to be configured on the server side." %}
    </div>
</div>