{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'server_connections/connections.css' %}">
</head>
<body>
    <div id="read-only-view">
        <dl class="row">
            <dt class="col-sm-4">Method</dt>
            <dd class="col-sm-8">{{ form.model.choice_name }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Name</dt>
            <dd class="col-sm-8">{{ form.profile.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">IKE Version</dt>
            <dd class="col-sm-8">{{ form.version.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Server Address</dt>
            {% if not form.local_addrs.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.local_addrs.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Remote Address</dt>
            {% if not form.remote_addrs.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.remote_addrs.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Pool Name</dt>
            {% if form.initial.pool.poolname %}
                <dd class="col-sm-8">{{ form.initial.pool.poolname }}</dd>
            {% else %}
                <dd class="col-sm-8">-</dd>
            {% endif %}
        </dl>
        {% if form.initial.pool.addresses %}
            <dl class="row">
                <dt class="col-sm-4">Pool Addresses</dt>
                <dd class="col-sm-8">{{ form.initial.pool.addresses }}</dd>
            </dl>
        {% endif %}
        {% if form.initial.pool.attributevalues %}
            <dl class="row">
                <dt class="col-sm-4">Pool Attribute</dt>
                <dd class="col-sm-8">{{ form.initial.pool.attribute }}</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-4">Pool Attribute values</dt>
                <dd class="col-sm-8">{{ form.initial.pool.attributevalues }}</dd>
            </dl>
        {% endif %}
        <dl class="row">
            <dt class="col-sm-4">Send Certificate Request</dt>
            <dd class="col-sm-8">{{ form.send_certreq.value }}</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Start Action</dt>
            {% if not form.start_action.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.start_action.value }}</dd>
            {% endif %}
        </dl>
        {% if form.local_auth.value %}
            <dl class="row">
                <dt class="col-sm-4">Local Authentication</dt>
                {% for key, value in form.local_auth.field.choices %}
                    {% if form.local_auth.value|slugify == key|slugify %}
                        <dd class="col-sm-8" class="col-sm-8">{{ value }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}
        {% if form.remote_auth.value %}
            <dl class="row">
                <dt class="col-sm-4">Remote Authentication</dt>
                {% for key, value in form.remote_auth.field.choices %}
                    {% if form.remote_auth.value|slugify == key|slugify %}
                        <dd class="col-sm-8" class="col-sm-8">{{ value }}</dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}

        {% if form.connection_type == 'site_to_site' or connection.connection_type == 'site_to_site' %}
            <dl class="row">
                <dt class="col-sm-4">Active initiator</dt>
                <dd class="col-sm-8" class="col-sm-8">{{ form.initiate.value }}</dd>
            </dl>
        {% endif %}
        {% for choise in form.certificate.field.queryset %}
            {% if form.certificate.value|slugify == choise.id|slugify %}
                <dl class="row">
                    <dt class="col-sm-4">Server Certificate</dt>
                    <dd class="col-sm-8">{{ choise }}</dd>
                </dl>
            {% endif %}
        {% endfor %}
        {% if form.certificate and not form.certificate.value %}
            <dl class="row">
                <dt class="col-sm-4">Server Certificate</dt>
                <dd class="col-sm-8">-</dd>
            </dl>
        {% endif %}
        {% for value, identity_choice in form.identity.field.choices %}
            {% if form.identity.value|slugify == value|slugify %}
                <dl class="row">
                    <dt class="col-sm-4">Identity</dt>
                    <dd class="col-sm-8">{{ identity_choice }}</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Identity Type</dt>
                    <dd class="col-sm-8">{{ identity_choice.type }}</dd>
                </dl>
            {% endif %}
        {% endfor %}
        {% if form.identitiy and not form.identitiy.value %}
            <dl class="row">
                <dt class="col-sm-4">Identity</dt>
                <dd class="col-sm-8">-</dd>
            </dl>
        {% endif %}
        {% for choise in form.certificate_ca.field.queryset %}
            {% if form.certificate_ca.value|slugify == choise.id|slugify %}
                <dl class="row">
                    <dt class="col-sm-4">CA/Peer Certificate</dt>
                    <dd class="col-sm-8">{{ choise }}</dd>
                </dl>
            {% endif %}
        {% endfor %}
        {% if form.certificate and not form.certificate_ca.value %}
            <dl class="row">
                <dt class="col-sm-4">CA/Peer Certificate</dt>
                <dd class="col-sm-8">-</dd>
            </dl>
        {% endif %}
        {% if form.identity_ca.value %}
            <dl class="row">
                <dt class="col-sm-4">Remote Identity</dt>
                <dd class="col-sm-8">{{ form.identity_ca.value }}</dd>
            </dl>
        {% elif form.identity and not form.identity_ca.value %}
            <dl class="row">
                <dt class="col-sm-4">Remote Identity</dt>
                <dd class="col-sm-8">-</dd>
            </dl>
        {% endif %}
        {% if form.eap_id.value %}
            <dl class="row">
                <dt class="col-sm-4">Remote EAP-Identity</dt>
                <dd class="col-sm-8">{{ form.eap_id.value }}</dd>
            </dl>
        {% endif %}
        <dl class="row">
            <dt class="col-sm-4">Local traffic selector</dt>
            {% if not form.local_ts.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.local_ts.value }}</dd>
            {% endif %}
        </dl>
        <dl class="row">
            <dt class="col-sm-4">Remote traffic selector</dt>
            {% if not form.remote_ts.value %}
                <dd class="col-sm-8">-</dd>
            {% else %}
                <dd class="col-sm-8">{{ form.remote_ts.value }}</dd>
            {% endif %}
        </dl>
    </div>
</body>
</html>