{% extends "server_connections/forms/ConnectionForm.html" %}
{% load connections_extras %}
{% block form_content %}
    <div class="row">
        <p class="col-xs-12">Local authentication</p>
        <div class="col-xs-12">
            <p>Choose the certificate which authenticates the server. Only certificates with private key's are shown.</p>
        </div>
    </div>
    {% include "server_connections/forms/CertificatePicker.html" with certificate=form.certificate identity=form.identity %}

    <div class="row picker">
        <label class="control-label col-sm-3 col-xs-12">Authentication method</label>
        <div class="controls col-sm-8 col-xs-10">
            <select class="selectpicker" name="local_auth">
                {% if form.local_auth.value == None or form.local_auth.value == '-1' %}
                    <option value="-1" selected="selected">Nothing selected</option>
                {% endif %}
                {% for key, value in form.local_auth.field.choices %}
                    <option value="{{ key }}"
                        {% if form.local_auth.value|slugify == key|slugify %}
                            selected="selected"
                        {% endif %}>
                    {{ value }}</option>
                {% endfor %}
            </select>
            {% include "server_connections/forms/../widgets/errormsg.html" with field=form.local_auth %}
        </div>
        <div class="col-sm-1 col-xs-2">
            {% include "server_connections/widgets/QuestionPopover.html" with title="Authentication method help" content="Select an authentication method for local site. Using EAP-(T)TLS requires support for EAP-only authentication." %}
        </div>
    </div>

    <hr>

    <div class="row">
        <p class="col-xs-12">Remote authentication</p>
        <div class="col-xs-12">
            <p>Choose a certification authority (CA) certificate or a peer certificate.</p>
        </div>
    </div>
    {% include "server_connections/forms/CaPicker.html" with form=form %}

    {% include "server_connections/forms/EapDetails.html" with form=form %}

    <hr>
{% endblock form_content %}