{% extends "base.html" %}
{% load i18n %}
{% load vici_checker %}
{% block title %}About{% endblock title %}
{% block content %}
    <div id="about">
        {% vici_reachable as result %}
        {% if result.reachable %}
            <div id="daemon_info" class="row">
                <div class="col-xs-12">
                    Daemon: {{ daemon.decode }} <br>
                    Version: {{ version.decode }} <br>
                    System name: {{ sysname.decode }} <br>
                    Release: {{ release.decode }} <br>
                    Machine: {{ machine.decode }} <br>
                    <h2>Installed plugins</h2>

                    <div class="" id="plugins">
                        <div class="row">
                            {% for plugin in plugins %}
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    {{ plugin.decode }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p>The strongSwan distribution ships with an ever growing list of plugins. This allows us to add
                        extended and specialized features, but keep the core as small as possible. Have a look on all
                        available
                        <a target="_blank" href="https://docs.strongswan.org/docs/latest/plugins/plugins.html">
                            strongSwan plugins</a>
                        .</p>
                </div>
            </div>
            <hr>
        {% else %}
            <h3>Can't display information without the vici interface.</h3>
        {% endif %}
    </div>
{% endblock %}