.back-section {
  margin-bottom: 15px; }

#connection-details .form-holder {
  padding: 30px; }
  #connection-details .form-holder .popover {
    max-width: 300px; }

#connection-overview #add {
  margin-bottom: 10px; }
#connection-overview #log_panel {
  margin-top: 100px; }
  #connection-overview #log_panel .panel-body {
    padding: 0px;
    padding-left: 5px; }
#connection-overview #log #log-content {
  overflow: scroll;
  overflow: auto;
  height: 150px; }
  #connection-overview #log #log-content .child td {
    padding: 4px;
    font-size: 10px; }
    #connection-overview #log #log-content .child td p {
      margin: 0px; }
  #connection-overview #log #log-content .child .timestamp {
    min-width: 105px; }
  #connection-overview #log #log-content .child .con_name {
    min-width: 55px; }
#connection-overview .table-container .connection-info-row div {
  display: inline-block; }
#connection-overview .table-container table .success td {
  background-color: #dcf8c6; }
#connection-overview .table-container table td {
  padding-left: 5px; }
#connection-overview .table-container table td a.profilelink {
  display: block;
  padding: 5px; }
#connection-overview .table-container table td .namelink {
  display: block;
  padding: 2px; }
#connection-overview .table-container .glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear; }
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg); }
  to {
    transform: scale(1) rotate(360deg); } }
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
#connection-overview .table-container .my_alert {
  padding: 4px 14px 4px 14px;
  margin-bottom: 0px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  text-align: left; }
#connection-overview .table-container #alert_style {
  width: -moz-calc(100% - 70px);
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
  min-width: 100px; }
#connection-overview .table-container .connection-info-span {
  padding-top: 0px; }
#connection-overview .table-container .connection-info {
  width: 100%;
  border-top: None;
  margin-bottom: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px; }
  #connection-overview .table-container .connection-info .fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  #connection-overview .table-container .connection-info .panel-body {
    width: 100%; }
  #connection-overview .table-container .connection-info .panel-footer {
    text-align: center;
    color: #214321;
    background-color: #dcf8c6;
    border-color: #d6e9c6; }

#ConnectionForm a {
  cursor: pointer; }
#ConnectionForm input, #ConnectionForm .identity_picker {
  margin-bottom: 10px; }
#ConnectionForm .cert_upload {
  margin-bottom: 10px; }

/*# sourceMappingURL=connections.css.map */
