<div class="row">
    <label class="control-label col-sm-3 col-xs-12">EAP-Identity</label>
    <div class="controls col-sm-8 col-xs-10">
        <input type="text" class="form-control" name="eap_id" value="{{ form.eap_id.value }}"
               placeholder="Request and match EAP-Identity"/>
        {% include "server_connections/forms/../widgets/errormsg.html" with field=form.eap_id %}
    </div>
    <div class="col-sm-1 col-xs-2">
        {% include "server_connections/widgets/QuestionPopover.html" with title="EAP-Identity help" content="Enter the EAP-Identity to match. Use %any to request but accept any identity (if eap-(t)tls is used it still has to match the client certificate). If nothing is set, no EAP-Identity is requested and the IKE identity is used (if eap-radius is used, the RADIUS server might request an EAP-Identity)." %}
    </div>
</div>

<div class="row picker">
    <label class="control-label col-sm-3 col-xs-12">Authentication method</label>
    <div class="controls col-sm-8 col-xs-10">
        <select class="selectpicker" name="remote_auth">
            {% if form.remote_auth.value == None or form.remote_auth.value == '-1' %}
                <option value="-1" selected="selected">Nothing selected</option>
            {% endif %}
            {% for key, value in form.remote_auth.field.choices %}
                <option value="{{ key }}"
                    {% if form.remote_auth.value|slugify == key|slugify %}
                        selected="selected"
                    {% endif %}>
                {{ value }}</option>
            {% endfor %}
        </select>
        {% include "server_connections/forms/../widgets/errormsg.html" with field=form.remote_auth %}
    </div>
    <div class="col-sm-1 col-xs-2">
        {% include "server_connections/widgets/QuestionPopover.html" with title="Authentication method help" content="Select how the remote peer should be authenticated." %}
    </div>
</div>