<div id="pw_change" class="row">
    {% if messages %}
        <div class="row">
            <div class="col-xs-12">
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %} fade in">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success fade in">
            <strong>Password changed successfully!</strong>
        </div>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
    {% else %}
        <div>
            <form action="" method="POST" id="pw_change_form">
                {% csrf_token %}
                <input class="form-control" type="password" name="old_password" id="old_password"
                       placeholder="Current password">
                <input class="form-control" type="password" name="password1" placeholder="New password">
                <input class="form-control" type="password" name="password2" id="password2"
                       placeholder="New password again">

                <span title="Change your password" class="pull-right">
                    <button type="submit" class="btn btn-primary" name="change_pw_btn"
                            id="change_pw_btn">
                        <span class="glyphicon glyphicon-refresh"></span> Change password
                    </button>
                </span>
            </form>
            <div id="passwordrules">
                <h4>Rules</h4>
                <ul>
                    <li>Password needs a minimal length of 8 signs.</li>
                    <li>The password needs to contain one upper and one lower case sign at least.</li>
                    <li>Password has to contain one NOT alphabetic sign at least.</li>
                    <li>Password has to contain at least one digit.</li>
                </ul>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <script>
            // this is the id of the form
            $("#pw_change_form").submit(function (e) {
                var url = "{% url 'pw_change' %}"; // the script where you handle the form input.
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#pw_change_form").serialize(), // serializes the form's elements.
                    success: function (data) {
                        $("#pw_change").replaceWith(data);
                    }
                });
                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
            $('#myModal').on('hidden.bs.modal', function () {
                var url = "{% url 'pw_change' %}";
                $.ajax({
                    type: "GET",
                    url: url,
                    data: $("#pw_change_form").serialize(), // serializes the form's elements.
                    success: function (data) {
                        $("#pw_change").replaceWith(data);
                    }
                });
            })
        </script>
    {% endif %}
</div>
