{% extends "base.html" %}
{% load i18n %}
{% load connections_extras %}
{% load static %}
{% block html-head %}
    <link href="{% static 'server_connections/connections.css' %}" rel="stylesheet">
    <script src="{% static 'server_connections/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'server_connections/CertificatePicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'server_connections/bootstrap-select.min.css' %}">
{% endblock html-head %}
{% block title %}Connection{% endblock title %}
{% block small-title %}
    {% if connection %}
        Edit connection {{ form.profile.value }}
    {% else %}
        Add a new connection
    {% endif %}
{% endblock small-title %}
{% block content %}
    <div id="connection-details">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 panel panel-default form-holder">
                {% include form.template with form=form %}
            </div>
        </div>
    </div>
{% endblock %}
